h1{color:black; font-size:12px; font-style: verdana; text-align:center; line-height: 200%}
h2{color:black; font-size:12px; font-style: verdana; text-align:center; line-height: 200%}
h3{color:black; font-size:12px; font-style: verdana; text-align:center; line-height: 200%}
